
<h1>Welcome to the page</h1>
<%if current_user%>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<p>
<%= link_to 'Edit Account',  edit_user_registration_path%>
</p>
<br>
<%else%>
<div>
<%= link_to 'Sign up', new_user_registration_path%>
</div>
<br>
<div>
<button type="button" name="Sign_up"><%= link_to "log_in", "/users/sign_in" %></button>
</div>
<br>
<%end%>
<h3><button type="button" name="Sign_up"><%= link_to "My Blog", articles_path %></button></h3>
